name: release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - id: create_release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          prerelease: true

  release_assets:
    needs: create_release
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - os: ubuntu-latest
          - os: windows-latest
          - {
            os: macos-latest,
            arch: amd64
          }
          - {
            os: macos-latest,
            arch: aarch64,
            extraArgs: "--target aarch64-apple-darwin"
          }

    steps:
      - uses: actions/checkout@v1
      - uses: Swatinem/rust-cache@v1

      - name: "add rustup wasm targets"
        run: |
          rustup target add wasm32-wasi
          rustup target add wasm32-unknown-unknown
          rustup target add aarch64-apple-darwin 

      - run : choco install openssl
        if: ${{ fromJSON(matrix.config.os == 'windows-latest') }}           

      - name: "build for unix"
        run: make build
        if: ${{ fromJSON(matrix.config.os == 'ubuntu-latest') }}

      - name: "build for windows"
        run: make build
        if: ${{ fromJSON(matrix.config.os == 'windows-latest') }}
        env:
          OPENSSL_DIR: C:\Program Files\OpenSSL-Win64\
          OPENSSL_NO_VENDOR: true

      - name: "build for macos amd64"
        run: make build
        if: ${{ fromJSON(matrix.config.os == 'macos-latest') && 
          fromJSON(matrix.config.arch == 'amd64') }}
      
      - name: "build for macos aarch64"
        run: cargo build --manifest-path ./slight/Cargo.toml --release ${{ matrix.config.extraArgs }}
        if: ${{ fromJSON(matrix.config.os == 'macos-latest') && 
          fromJSON(matrix.config.arch == 'aarch64') }}         

      - run: make prepare-release
        if: ${{ fromJSON(matrix.config.os == 'ubuntu-latest') }}

      - run: make prepare-release-win
        if: ${{ fromJSON(matrix.config.os == 'windows-latest') }}

      - run: make prepare-release-mac
        if: ${{ fromJSON(matrix.config.os == 'macos-latest') && 
          fromJSON(matrix.config.arch == 'amd64') }}

      - name: "tar release for macos-aarch64"
        run: tar -C target/ -czvf slight-macos-aarch64.tar.gz aarch64-apple-darwin/release/slight
        if: ${{ fromJSON(matrix.config.os == 'macos-latest') && 
          fromJSON(matrix.config.arch == 'aarch64') }}

      - name: "add wits, and slight-ubuntu and templates tars to release"
        uses: softprops/action-gh-release@v1
        with:
          files: |
            slight-ubuntu.tar.gz
            *-template.tar.gz
            wit/*.wit
        if: ${{ fromJSON(matrix.config.os == 'ubuntu-latest') }}

      - name: "add slight-windows tar to release"
        uses: softprops/action-gh-release@v1
        with:
          files: |
            slight-windows.tar.gz
        if: ${{ fromJSON(matrix.config.os == 'windows-latest') }}

      - name: "add slight-macos-amd64 tar to release"
        uses: softprops/action-gh-release@v1
        with:
          files: |
            slight-macos-amd64.tar.gz
        if: ${{ fromJSON(matrix.config.os == 'macos-latest') && 
          fromJSON(matrix.config.arch == 'amd64') }}

      - name: "add slight-macos-aarch64 tar to release"
        uses: softprops/action-gh-release@v1
        with:
          files: |
            slight-macos-aarch64.tar.gz
        if: ${{ fromJSON(matrix.config.os == 'macos-latest') && 
          fromJSON(matrix.config.arch == 'aarch64') }}            